@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
html {
  font-size: 62.5%;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.layout {
  display: flex;
}
.content {
  flex-grow: 2;
  padding: 2rem;
}
.text-white {
  color: #f6fbf8;
}
.bg-white {
  background-color: white;
}
.icon-avatar {
  background-color: #fcede6;
}
.icon-avatar-color {
  filter: invert(56%) sepia(28%) saturate(951%) hue-rotate(317deg)
    brightness(95%) contrast(84%);
}
.w-fit {
  width: fit-content;
}
.loading-spinner {
  border: 0.3rem solid #e2e8f0;
  border-top: 0.3rem solid #ffffff;
  border-radius: 50%;
}
iframe[src*="ads-iframe"] {
  display: none;
}

.div-cursor:hover {
  cursor: pointer;
}
