@import "src/sass/abstract/variables";
@import "src/sass/abstract/mixins";
.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: white;
  transition: all 0.5s;
  z-index: 1;
  &-item {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    &__icon-box {
      height: 6vh;
      width: 7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--text {
      display: block;
      font-size: 1.5rem;
    }
    &__icon {
      width: 2rem;
    }
    &:not(:first-child):hover {
      border-left: 2px solid $primary-color;
      border-top-right-radius: 10%;
      border-bottom-right-radius: 10%;
    }
    &:not(:first-child):hover &--text {
      @include selectedSidebarText;
    }
    &:not(:first-child):hover &__icon {
      @include selectedSidebarText;
      filter: invert(75%) sepia(29%) saturate(638%) hue-rotate(116deg)
        brightness(88%) contrast(91%);
    }
    &-active {
      border-left: 2px solid $primary-color;
      background-color: #f5f9f8;
      border-top-right-radius: 10%;
      border-bottom-right-radius: 10%;
    }
    &-active &--text {
      @include selectedSidebarText;
    }
    &-active &__icon {
      @include selectedSidebarText;
      filter: invert(75%) sepia(29%) saturate(638%) hue-rotate(116deg)
        brightness(88%) contrast(91%);
    }
  }
  &-logo {
    height: 12rem;
    margin-bottom: 4rem;
    padding: 1rem;
    &__container {
      width: $sidebar-width;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
